@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

/*==========cores==========*/

:root {
    --cor-principal-STbranco--: #c91161;
}

.container {
    width: 50vw;
    height: auto;
    margin: auto;
    padding-top: 70px;
}

@media (max-width: 1200px) {
    .container {
        width: 100vw;
    }
}

header {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 999;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 10px;
}

.menu {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    margin: auto;
}

@media (max-width: 1200px) {
    .menu {
        width: 100vw;
        margin: 0px;
    }
}

.logo {
    padding: 0px;
}

.logo img {
    width: 50px;
}

.menu-list {
    display: flex;
    align-items: center;
}

.menu-list ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.menu-item {
    margin: 10px;
    margin-right: 20px;
}

.menu-link {
    text-decoration: none;
    font-size: 15px;
    color: #000000;
    font-weight: 600;
    transition: 0.4s;
    padding: 10px 15px;
    font-family: "Montserrat";
}

.menu-link:hover {
    background-color: var(--cor-principal-STbranco--);
    color: white;
}

.mobile-menu-icon {
    padding: 5px;
}

.mobile-menu-icon {
    display: none;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

.mobile-menu-icon:hover {
    background-color: #c9c9c96e;
}

.mobile-menu {
    display: none;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 10px;
}

@media screen and (max-width: 970px) {
    .menu-item {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 5px;
    }
    .mobile-menu .menu-item {
        display: block;
        padding: 5px 10px;
    }
    .mobile-menu {
        width: 100%;
    }
    .open {
        display: block;
    }
}

/*==========noticia-parte1==========*/

.noticia-parte1 {
    padding: 0px;
}

.noticia-parte1 h1 {
    font-size: 46px;
    font-family: "Montserrat";
    font-weight: 600;

}

@media (max-width: 970px) {
    .noticia-parte1 h1 {
        font-size: 36px;
    }
}

@media (max-width: 450px) {
    .noticia-parte1 h1 {
        font-size: 26px;
    }
}

.noticia-parte1 h2 {
    font-size: 24px;
    font-family: "Montserrat";
    font-weight: 300;
    padding-top: 10px;

}

@media (max-width: 970px) {
    .noticia-parte1 h2 {
        font-size: 20px;
    }
}

@media (max-width: 450px) {
    .noticia-parte1 h2 {
        font-size: 16px;
    }
}

.noticia-parte1 h3 {
    font-size: 16px;
    font-family: "Montserrat";
    font-weight: 700;
    padding-top: 10px;
    display: inline-block;

}

.noticia-parte1 a {
    font-size: 16px;
    font-family: "Montserrat";
    color: var(--cor-principal-STbranco--);
    font-weight: 500;

}

.noticia-parte1 h4 {
    font-size: 16px;
    font-family: "Montserrat";
    font-weight: 600;
    display: inline-block;

}

.noticia-parte1 p {
    font-size: 18px;
    font-family: "Montserrat";
    font-weight: 400;
    padding-top: 5px;

}


@media (max-width: 450px) {
    .noticia-parte1 p {
        font-size: 14px;
    }
}

.noticia-parte1 img {
    width: 100%;
}

/*==========noticia-parte2==========*/

.noticia-parte2 p {
    padding: 10px;
    font-size: 20px;
    font-family: "Poppins";
    font-weight: 400;
}

.noticia-parte2 img {
    width: 100%;
    margin: auto;
}

.noticia-parte2 h2 {
    font-size: 32px;
    font-family: "Montserrat";
    padding-top: 20px;
    padding-left: 10px;
    font-weight: 600;
}

@media (max-width: 450px) {
    .noticia-parte2 h2 {
        font-size: 22px;
    }
}

/*----------botão-top----------*/

#btnTop{
    background-color: #ad074f;
    border-radius: 10px;
    position: fixed;
    bottom: 50px;
    left: 50px;
    display: flex;
    cursor: pointer;
    transition: 0.4s;
}

#btnTop:hover {
    background-color: #700433;
}

#btnTop img {
    width: 30px;
    padding: 10px;
}

/*---------------FOOTER---------------*/

footer {
    width: 100vw;
    background-color: #1b1b1b;
    color: white;
    margin-top: 40px;
    padding: 20px 20px 10px 20px;
    text-align: center;
    font-family: "Montserrat";
}

footer ul {
    list-style: none;
    padding: 0;
    padding-bottom: 10px;
}

footer ul li {
    display: inline;
    margin: 0 10px;
}

footer a {
    color: white;
    transition: 0.3s;
}

footer a:hover {
    color: #c7c7c7;
}


#instagram-f img {
    width: 30px;
    margin: 5px;
    transition: 0.3s;
}

#instagram-f img:hover {
    transform: translateY(-3px);
}

#twitter-f img {
    width: 30px;
    margin: 5px;
    transition: 0.3s;
}

#twitter-f img:hover {
    transform: translateY(-3px);
}
